@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
    /* Prevents rubber-banding on Mac */
}